@import './variables';

.SignFormContainer {
  height: 72vh;
  padding: auto;
  .SignForm {
    // display: flex;
    background-color: $color1;
    margin: 0 auto;
    padding: auto;
    border-radius: 1em;
    border: 0.1em solid $color2;
    width: 40vw;
    height: 40vh;


    .buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-weight: bold;

      div {
        font-size: calc(5px + 1vw);
        min-width: 3vw;
        background-color: $color2;
        color: white;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 0.5em;

        &:hover {
          background-color: $color3;
        }
      }

      // div:hover {
      //   background-color: $color3;
      // }

      .activeButton {
        background-color: white;
        color: $color2;
      }
    }

    .signform {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5em;
      padding: 5vh ;
      // border: 1px solid $color2;
      // border-color: $color2;
      

      .signInForm,
      .signUpForm {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        height: 20vh;
        width: 10vw;
      }

      input {
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 0.5em;
        border: none;
        flex-direction: column;
        height: 3vh;
        width: 10vw;
      }

      input[type="submit"] {
        background-color: $color2;
        color: white;
        // margin: 1em;
        // padding: 0.5em;

        border-radius: 0.5em;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
      }
    }
  }
}

// .SignForm {
//   display: flex;
//   background-color: $color1;
//   border: 5px solid $color2;
//   .buttons
// }