@import "./variables";

.detailFilm {
    display: flex;
    //padding: auto;
    //height: 39vw;
    margin-top: -1vw;
    //border: 1px solid $color2;
    width: 100%;
    height: 75vh;

    .movieDetails {
        display: flex;
        //border: 1px solid red;
        width: 75%;
        margin-right: -7vw;

        .cardFilmDe {
            display: block;
            padding: 0 3rem 0 3rem;
            text-align: center;
            //border: 1px solid blueviolet;
            height: 36vw;
            width: 25%;

            .title {
                //padding-top: 1rem;
                //margin-bottom: 1rem;
                height: 10%;
                font-size: 2vw;
                //border:  1px solid red;
            }

            .film_poster img {
                width: 15vw;
                height: 50%;
                //border: 1px solid red;
                margin-bottom: 1rem;
            }

            .movieInfo {
                height: 12%;
                //overflow: hidden;
                //border: 1px solid red;

                .genres {
                    display: flex;
                    list-style-type: none;
                    margin: 0 auto;
                    text-align: center;
                    border: 1px solid red;
                    padding: 0;


                    .genre {
                        height: 1vw;
                        width: 5vw;
                        font-size: 1vw;
                        background-color: $color3;
                        color: $color5;
                        padding: 0.5vw;
                        border-radius: 20%;
                        margin: 0.5vw;
                    }
                }

                .release,
                .stars {
                    margin: 1px;
                    font-size: 1.5vw;
                    //display: inline;
                    //border: 1px solid blue;
                }
            }
        }

        .synopsisDiv {
            width: 50%;
            display: block;
            border: 1px solid red;
            height: 35vw;

            h1 {
                //padding-top: 1vw;
                text-align: center;
                vertical-align: auto;
                font-size: 2vw;
            }

            .synopsis {
                padding-top: 0.5vw;
                font-size: 1.7vw;
            }
        }
    }

    .comments-section {
        //border: 1px solid green;
        padding: 1vw;
        margin-left: 5vw;

        .commentForm {
            //border: 1px solid red;
            margin: 1rem;
            width: 15vw;
            display: flex;

            input [type="text"] {
                width: 100%;
                height: 3vw;
                border-radius: 10px 10px 0 0;
                font-size: 1.5rem;
                //border: 5px solid red;
            }
        }

    }
}