@import "./variables";

.detailFilm {
    display: flex;
    //padding: auto;
    //height: 39vw;
    margin-top: -1vw;
    //border: 1px solid $color2;
    width: 100%;
    height: 74vh;

    .movieDetails {
        display: flex;
        //border: 1px solid red;
        width: 75%;
        margin-right: -7vw;

        .cardFilmDe {
            display: block;
            padding: 0 3rem 0 3rem;
            text-align: center;
            //border: 1px solid blueviolet;
            height: 36vw;
            width: 25%;

            .title {
                //padding-top: 1rem;
                //margin-bottom: 1rem;
                height: 10%;
                font-size: calc((2.5vh + 2.5vw)/2);
                //border:  1px solid red;
            }

            .film_poster img {
                width: 15vw;
                height: 50%;
                //border: 1px solid red;
                margin-bottom: 1rem;
            }

            .movieInfo {
                height: 12%;
                //overflow: hidden;
                //border: 1px solid red;

                .genres {
                    display: flex;
                    list-style-type: none;
                    margin: 0 auto;
                    text-align: center;
                    //border: 1px solid red;
                    padding: 0;


                    .genre {
                        height: 1vw;
                        width: 5vw;
                        font-size: calc((1vh + 1vw)/2);
                        background-color: $color3;
                        color: $color5;
                        padding: 0.5vw;
                        border-radius: 20%;
                        margin: 0.5vw;
                    }
                }

                .release,
                .stars {
                    margin: 1px;
                    font-size: calc((1.5vh + 1.5vw)/2);
                    //display: inline;
                    //border: 1px solid blue;
                }
            }
        }

        .synopsisDiv {
            width: 50%;
            display: block;
            //border: 1px solid red;
            height: 35vw;

            h1 {
                //padding-top: 1vw;
                text-align: center;
                vertical-align: auto;
                font-size: calc((2.5vh + 2.5vw)/2);
            }

            .synopsis {
                padding-top: 0.5vw;
                font-size: calc((2vh + 2vw)/2);
            }
        }
    }

    .comments-section {
        //border: 1px solid green;
        padding: 1vw;
        margin-left: 5vw;
        overflow-y: scroll;
        overflow-x: unset;

        .notConnected {
            font-weight: bold;
            color: $color1;
        }

        .commentForm {
            //border: 1px solid red;
            margin: 1rem;
            width: 15vw;
            display: flex;

            .commentInput {
                //outline: none;
                border-radius: 10px 0 0 10px;
                font-size: calc((2vw + 2vh)/2);
                color: $color1;
                //color: red;
                //border: 5px solid red;
            }

            .newCommentSummit {
                border-radius: 0 10px 10px 0;
            }
        }

        ul .comment .comment_data {
            font-size: calc((2vh + 2vw)/2);

            .nickname {
                font-weight: bold;

            }
        }


    }
}