@import "./navbar";
@import "./accueil";
@import "./connexion";
@import "./details_film";
@import "./variables";

@font-face {
  font-family: 'test';
  src: url(../assets/fonts/Parisienne-Regular.ttf);
}
//reset

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: $color5;
}